# Archivos específicos del sistema operativo
.DS_Store

# Dependencias de Node.js
node_modules

# Directorios de distribución
/dist

# Archivos de configuración local
.env.local
.env.*.local

# Archivos de registro
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Directorios y archivos del editor
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Directorios de construcción
build/
out/

# Archivos temporales
*.tmp
*.log

# Informes de cobertura
coverage/

# Directorios de dependencias adicionales
bower_components/
