# Ignorar dependencias de Node.js
**/node_modules/

# Archivos de entorno
.env
.env.*
!.env.example

# Archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log


# Directorio de compilación de producción
**/dist/

# Archivos del sistema operativo
.DS_Store

# Ignorar configuración de Visual Studio Code
.vscode/

package-lock.json
backend/package-lock.json
backend/package-lock.json
backend/package-lock.json

docs/

# Reportes de cobertura
backend/coverage/
backend/uploads/

backend/coverage/clover.xml
backend/coverage/lcov.info
backend/coverage/clover.xml
backend/uploads/
