# Configuración del Servidor
PORT=3000
NODE_ENV=development

# Clave secreta para JSON Web Tokens
JWT_SECRET=tu_clave_secreta_aqui

# Configuración de la Base de Datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=ekonsumo_user
DB_PASSWORD=tu_password_aqui
DB_NAME=ekonsumo

# Configuración del Servicio de Email (usando Gmail como ejemplo)
EMAIL_USER=tu_email@gmail.com
EMAIL_PASS=tu_contraseña_de_aplicacion

# URL del Frontend (para la recuperación de contraseña, etc.)
FRONTEND_URL=http://localhost:8080
